.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Ren'Py
errors.txt
*/tmp/*
log.txt
*/game/saves/
traceback.txt
project.json
game/cache/*
game/fonts/*
game/gui/*
game/saves/*
game/tl/*

game/tl/None/common.rpymc
game/saves/persistent
game/saves/navigation.json
game/saves/auto-9-LT1.save
game/saves/auto-8-LT1.save
game/saves/auto-7-LT1.save
game/saves/auto-6-LT1.save
game/saves/auto-5-LT1.save
game/saves/auto-4-LT1.save
game/saves/auto-3-LT1.save
game/saves/auto-2-LT1.save
game/saves/auto-10-LT1.save
game/saves/auto-1-LT1.save
game/cache/bytecode.rpyb
game/saves/auto-1-LT1.save
game/saves/auto-10-LT1.save
game/saves/auto-2-LT1.save
game/saves/auto-3-LT1.save
game/saves/auto-4-LT1.save
game/saves/auto-5-LT1.save
game/saves/auto-6-LT1.save
game/saves/auto-7-LT1.save
game/saves/auto-8-LT1.save
game/saves/auto-9-LT1.save
game/saves/auto-1-LT1.save
game/saves/auto-10-LT1.save
game/saves/auto-2-LT1.save
game/saves/auto-3-LT1.save
game/saves/auto-4-LT1.save
game/saves/auto-5-LT1.save
game/saves/auto-6-LT1.save
game/saves/auto-7-LT1.save
game/saves/auto-8-LT1.save
game/saves/auto-9-LT1.save
game/script.rpyc
game/saves/persistent
game/saves/navigation.json
game/cache/screens.rpyb
game/cache/bytecode.rpyb
*.save
*.json
*.rpyc
*.save
*.rpyb
game/cache/bytecode.rpyb
game/cache/screens.rpyb
game/saves/auto-1-LT1.save
game/saves/auto-10-LT1.save
game/saves/auto-2-LT1.save
game/saves/auto-3-LT1.save
game/saves/auto-4-LT1.save
game/saves/auto-5-LT1.save
game/saves/auto-6-LT1.save
game/saves/auto-7-LT1.save
game/saves/auto-8-LT1.save
game/saves/auto-9-LT1.save
game/saves/navigation.json
game/saves/persistent
game/script.rpyc
game/cache/bytecode.rpyb
game/cache/screens.rpyb
game/saves/auto-1-LT1.save
game/saves/auto-10-LT1.save
game/saves/auto-2-LT1.save
game/saves/auto-3-LT1.save
game/saves/auto-4-LT1.save
game/saves/auto-5-LT1.save
game/saves/auto-6-LT1.save
game/saves/auto-7-LT1.save
game/saves/auto-8-LT1.save
game/saves/auto-9-LT1.save
game/saves/navigation.json
game/saves/persistent
game/script.rpyc
game/screens.rpyc
game/saves/navigation.json
game/cache/bytecode.rpyb
game/cache/pyanalysis.rpyb
game/cache/screens.rpyb
game/saves/navigation.json
game/saves/persistent
game/screens.rpyc
game/script.rpyc
